/* Signup.module.css */
.register {
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    var(--rosewater),
    var(--lavender, 0.6)
  );
  background-size: cover;
  position: relative;
}

.sign-up-wrapper {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign-up-wrapper h1 {
  background-image: linear-gradient(to right, var(--mauve), var(--lavender));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sign-up-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.sign-up-form {
  width: 38%;
  padding: 30px 50px 30px 50px;
  border-radius: 22px;
  background-color: var(--mantle);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--text);
}

.sign-up-form h1 {
  font-size: 50px;
  margin: 30px auto 50px auto;
}

.sign-up-form input {
  padding: 15px;
  border: none;
  border-radius: 12px;
  margin: 0 0 20px 0;
  width: 100%;
  box-sizing: border-box;
  color: var(--text);
  background: var(--surface0);
  font-size: 16px;
}

.sign-up-form input::placeholder {
  color: var(--text);
}

.sign-up-form input:focus {
  opacity: 0.8;
}
.register-button:hover {
  box-shadow: 0 0 30px var(--maroon, 0.4);
  transform: scale(1.1);
}

.register-button:active {
  opacity: 0.8;
  transform: scale(1);
}

.register-button {
  padding: 15px 25px;
  margin: 5px auto 25px;
  border: none;
  background: var(--maroon);
  color: var(--base);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s;
  font-family: "Fira Code Nerd Font", monospace;
  border-radius: 12px;
  cursor: pointer;
}

.sign-up-form span {
  height: 20px;
  color: var(--text);
  font-size: 14px;
  text-align: center;
}

.b {
  color: var(--blue);
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.b:hover {
  text-decoration: underline;
  font-size: 120%;
}

.alert {
  color: var(--maroon);
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 10px;
  width: 100%;
}
